

#app {
  padding: 0px;
  /*
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  */
}

/* ************** [ GERAL ] ******************************************************* */
.paddingZero{ padding: 0px;}
.paddingDois{ padding: 2px;}
.paddingTreis{ padding: 3px;}
.paddingCinco{ padding: 5px;}
.borda{ border-style: solid; border-width:1px; border-color:#495057;}
.paddingDez{ padding: 10px;}
.paddingZeroCinco{  padding: 0px;  padding-right: 5px;  }    
.container-fluid{ width: 100%;  padding-right: 0px;  padding-left: 0px;  margin-right: auto;  margin-left: auto;}
.row { display:flex; flex-wrap:wrap; margin-right:0px; margin-left:0px;}     /* Atenção o .row por padrão margin-right margin-left -e -15px isso interfere em deixar container-fluid com padding 0px  */
.margBase2{margin-bottom: 2px;}   
    
    


/* ************** [ MENSAGENS ] *************************************************** */
.g_msgOk{     font-size: 13px;  font-weight: bold;  margin-top: 3px;  margin-bottom: 3px;  position: relative;  padding: 0.5px 0.5px;  border: 1px solid transparent;  border-radius: .25rem;  color: rgb(9, 61, 4);  }
.g_erro{     font-size: 13px;  font-weight: bold;  margin-top: 3px;  margin-bottom: 3px;  position: relative;  padding: 0.5px 0.5px;  border: 1px solid transparent;  border-radius: .25rem;  color: rgb(153, 16, 6);  }
.g_msgOff{  font-size: 13px;  font-weight: bold;  margin-top: 3px;  margin-bottom: 3px;  position: relative;  padding: 0.5px 0.5px;  border: 1px solid transparent;  border-radius: .25rem;  color: #ffffff;  }  
.msgErroInput { font-size: 11px; margin-bottom: 0rem; position: relative;  padding: 0.5px 0.5px;  border: 1px solid transparent;  border-radius: .25rem;  color: brown;  background-color: rgb(243, 236, 177);  text-align: left; } 

/* ************** [ BOTÕES ] ****************************************************** */
.botao{             padding:2px 4px; margin-left: 3px; margin-right:3px; font-size: 15px;} 
.botaoMsgOk{        padding:2px 4px; margin-left: 3px; margin-right:3px; font-size: 15px; background-color: #c5f0c7; color:#000000;}
.botaoMsgOk:hover { color:#000000; background-color: #c5f0c7;}
.botaoMsgObs{       padding:2px 4px; margin-left: 3px; margin-right:3px; font-size: 15px; background-color: #f5d670;} 
.botaoMsgObs:hover {background-color: #f5d670;}

.cssBtn{
    margin-left: 3px;
}
.btn-sm {
    padding: 0.00rem .20rem;
    font-size: .800rem;
    line-height: 1.5;
    border-radius: .2rem;    
}

/* ************** [ TABELA ] ****************************************************** */
.navegacao{     height: 8.2vh; }
.tabela{        height: 80vh;               max-height: 79.9vh;   overflow:auto;}
.theadCor{      background-color: #A3CDA8;}
.inputBuscaTbl{ border: 1px solid; border-color:#9fa3a7; padding:2px;  border-radius: 10px;   width: 100%;}
.th_td{         padding:1px;    text-align: left;}
.t20{width: 20px;}
.t30{width: 30px;}
.t40{width: 40px;}
.t50{width: 50px;}
.t70{width: 70px;}
.t100{width: 100px;}
.t150{width: 150px;}
.t200{width: 200px;}
.t250{width: 250px;}
.t300{width: 300px;}
.t350{width: 350px;}
.t400{width: 400px;}
.t450{width: 450px;}
.t500{width: 500px;}
.t550{width: 550px;}
.t600{width: 600px;}
.t650{width: 650px;}
.t700{width: 700px;}
.t750{width: 750px;}
.t800{width: 800px;} 

.percent100{width: 100%;} 
 
.ocultaInput{background-color: #f1f1f2; border: none;  color:#f1f1f2; }
.divCentro{
    display: flex;
    justify-content: center;
}

.linhaPadrao{      color: black;   min-height:20px; background-color: #ffffff;}
.linhaPadraoSelect{color: black;   min-height:20px; background-color: #e6f1bd;}
.desativado{       color: #828282; min-height:20px; background-color: #ffffff;}
.ativo{            color: black;   min-height:20px; background-color: #ffffff;}
.inativo{          color: red;     min-height:20px; background-color: #ffffff;}
.ativoSelect{      color: black;   min-height:20px; background-color: #e6f1bd;}
.inativoSelect{    color: red;     min-height:20px; background-color: #e6f1bd;}
.paginacao{        height: 5vh;}

/* ************** [ TABELA DIV ] ************************************************** */
.div_thead{ 
            background-color: #A3CDA8; 
            padding: 0px;
            position: sticky;
            top: 0;
            z-index: 2;
}
.div_tbody{ 
            /*background-color: #ffffff; */
            padding: 0px;
}
.div_th{    
                padding:1px; 
                text-align: left;
                display: inline-block;          /* Alinha lado a lado */
                border: 1px solid #ccc;
                margin-right: -1px;             /* Faz as bordas se fundirem */
                margin-bottom: -1px;            /* Faz as bordas se fundirem */
}
.div_td{    
                padding:0px 0px 0px 2px;  
                text-align: left;            
                display: inline-block;          /* Alinha lado a lado */
                border: 1px solid #ccc;
                margin-right: -1px;             /* Faz as bordas se fundirem */
                margin-bottom: -1px;            /* Faz as bordas se fundirem */
}
.div_scroll{
                overflow-x: auto;
                white-space: nowrap;
                display: block;                 /* Garante que funcione com conteúdo flexível */
                overflow-y: hidden;             /* Desativa a rolagem vertical */
}
.div_scroll .row {
                flex-wrap: nowrap;              /* Impede quebra de linha nas colunas */
}
.div_scroll .col {
                min-width: 10px;                /* Define um tamanho mínimo visível para cada coluna */
}
.div_centro {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 10px;               /* Espaçamento entre botões */
}
/*----IMPUT------------------------------------------------------------------------*/
.form-control {
    display: block;
    width: 100%;
    height: 22px;
    padding: 3px 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.label{ text-align: left; font-weight: bold; padding-left: 5px;}
.inputCss{ text-align: left; background-color: #ffffff; border: 1px solid #9fa3a7; border-radius: .25rem; padding-left: 5px; }
.blocoVerde{background-color: #A3CDA8;}

/*----MOUSE------------------------------------------------------------------------*/
.linhaPadrao:hover{
    cursor: pointer;
    background-color: #c5f0c7; 
}
.linhaPadraoSelect:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}
.ativo:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}
.desativado:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}
.inativo:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}
.ativoSelect:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}
.inativoSelect:hover {
    cursor: pointer;
    background-color: #c5f0c7; 
}

/*----TABELA-----------------------------------------------------------------------*/
.table{ background-color: #ffffff;}
.thead{ background-color: #A3CDA8;}
tr{ border: 1px solid #ced4da; color: #495057; }


/*----BOTÕES------------------------------------------------------------------------*/
.btnVerde{
    background-color: #198754;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}

.btnVerde:disabled{
    background-color: #27ce80;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}

.btnVermelho{
    background-color: #d12020;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
.btnVermelho:disabled{
    background-color: #eb5757;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
.btnAmarelo{
    background-color: #FFC107;
    color: #000000;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
.btnAmarelo:disabled{
    background-color: #f3cf64;
    color: #000000;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
.btnAzul{
    background-color: #137ee2;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
.btnAzul:disabled{
    background-color: #53a5f1;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 3px;
    border: none;
    padding: 3px;
}
/*----Circulo Carregando-----------------------------------------------------------*/
.carregando {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #56ad5e;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

